<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">





/* page: maximize the space */
html, body {
    height: 100%;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

/* reduce overall size (default is 100%) */
body { 
    background: white;
    padding-bottom: 8px;
    margin: 0;
}

/* page: mini-reset (speakerdeck gives its own styles which need overrides) */
div#container p { 
    margin: 0;
    padding: 0;
    border: none;
}
div#container ul {
    margin: 0;
    padding: 0;
    padding-left: 1.5em;
}

/* default link */
a {
    color: #224b8d;
    text-decoration: none;
}

/* remove visited color change */
a:visited {
    color: #224b8d;
}

/* active link */
a:active {
    color: #06266f;
    text-decoration: underline;
}

/* link under mouse */
a:hover {
    color: #06266f;
    text-decoration: underline;
}

/* headings */
h1 {
    margin-top: 0;
    margin-bottom: 16px;
    padding-bottom: 8px;
    font-weight: 300;
    border-bottom: none;
}
h2 {
    margin-top: 24px;
    margin-bottom: 6px;
    padding-bottom: 1px;
    font-weight: 300;
    border-bottom: none;
}
h3 {
    margin-top: 24px;
    margin-bottom: 6px;
    padding-bottom: 1px;
    font-weight: 700;
    border-bottom: none;
}

p {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

/* Code blocks */
pre, tt {
    font-size: 90%;
    font-family: "Fira Code", monospace;
    border: none;
}

/* Layout elements */
#header {
    border: none;
    position: relative;
}

#layout-content {
    border: none;
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
    background: white;
}

#footer {
    font-size: small;
    border: none;
    padding-bottom: 8px;
    color: #444;
}

/* Menu positioning */
#layout-menu-box {
    width: 260px;
    padding-top: 8px;
}

#layout-menu {
    font-size: 1.0em;
    background: white;
    border: none;
    padding-bottom: 8px;
}

#layout-menu td.menu-item {
    padding-left: 8px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
#layout-menu td.menu-item a {
    color: black;
}
#layout-menu td.menu-item a:active {
    color: #06266f;
}
#layout-menu td.menu-item a:hover {
    color: #06266f;
}

/* section divisions */
#toptitle {
    padding-bottom: 8px;
}

#subtitle {
    margin-top: 0.2em;
    text-align: left;
    color: #333;
}

/* Tables */
table {
    border-collapse: separate;
    border-spacing: 1px;
    line-height: 1.3em;
}

table.pub_table th {
    text-align: left;
    border: none;
}

table.pub_table td {
    vertical-align: top;
    padding-top: 4px;
    padding-bottom: 0px;
    border: none;
}

td.lg {
    width: 120px;
    border: none;
}

/* Code areas */
pre.box {
    border: none;
    padding: 0.5em;
    background: #eee;
}

/* Images */
img {
    border: none;
}

/* Lists */
ul {
    margin-top: 0.1em;
}

/* disable underlining and bold in menu titles */
.nounderline {
    text-decoration: none;
}
.nobold {
    font-weight: normal;
}
.nomargin {
    margin: 0px;
}

